<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cart</title>
    <style>
        .btn {
            background-color: #0066cc;
            color: #fff;
            border-radius: 5px;
            padding: 2%;
            border: none;
        }
    </style>
</head>

<body>
    <a href="./"><button class="btn">Back To Dahboard</button></a>
</body>

</html>